Plug 'tpope/vim-surround'

let mapleader=" "

" relative numbering
set relativenumber

" leave insert mode,
inoremap jj <ESC>

" Same as default IDEA action, but only in insert mode. Enter block-visual
" mode in normal mode.
"imap <C-v> <Esc>l<Action>($Paste)

" Ctrl-D or Ctrl-U will perform the usual scroll operation
" followed by centering the cursor line in the middle of the screen
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" maps Alt-A/X to perform an increment
nnoremap <A-a> <C-a>
nnoremap <A-x> <C-x>
